# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.venv
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log

# Environment variables
.env
.env.local
*.pot